<settings>
	<servers>
		<server>
			<id>com.automic.nexusvie</id>
			<username>deployment-spartan</username>
			<password>2BlcUuHyCpjMqkPCGePw</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<!--This sends everything else to /public -->
			<id>nexus</id>
			<mirrorOf>*,!com.automic.snapshots,!com.automic.releases,!com.automic.aso,!thirdparty,!ProjectRepo
			</mirrorOf>
			<url>https://nexusvie.automic.com/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	<profiles>

		<profile>
			<id>local_dependencies</id>
			<repositories>
				<repository>
					<id>ProjectRepo</id>
					<url>file://${project.basedir}/capam_lib</url>
				</repository>
			</repositories>
		</profile>

		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>thirdparty</id>
					<url>https://nexusvie.automic.com/nexus/content/repositories/thirdparty/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>com.automic.releases</id>
					<url>https://nexusvie.automic.com/nexus/content/repositories/releases/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>com.automic.snapshots</id>
					<url>https://nexusvie.automic.com/nexus/content/repositories/snapshots/
					</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>com.automic.aso</id>
					<url>https://nexusvie.automic.com/nexus/content/repositories/com.automic.aso/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>com.automic.snapshots</id>
					<url>https://nexusvie.automic.com/nexus/content/repositories/snapshots/
					</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<!--make the profile active all the time -->
		<activeProfile>local_dependencies</activeProfile>
		<activeProfile>nexus</activeProfile>

	</activeProfiles>
</settings>
