<settings>
	<profiles>

		<profile>
			<id>local_dependencies</id>
			<repositories>
				<repository>
					<id>ProjectRepo</id>
					<url>file://${project.basedir}/capam_lib</url>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>local_dependencies</activeProfile>
	</activeProfiles>
</settings>
